<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776882616672-7kgii0suk3q0gj2787buae2dems0o93g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776882616672-7kgii0suk3q0gj2787buae2dems0o93g</string>
	<key>API_KEY</key>
	<string>AIzaSyAdVTT67J_TTwFflGirYni6JyYk9YZk-zU</string>
	<key>GCM_SENDER_ID</key>
	<string>776882616672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tutorial1</string>
	<key>PROJECT_ID</key>
	<string>leadme-matsuda</string>
	<key>STORAGE_BUCKET</key>
	<string>leadme-matsuda.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776882616672:ios:96e206cb6101b7d8404605</string>
</dict>
</plist>